{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            {{ content }}
          
        {% for analy in meta.analy %}
        <a href="{{base_url}}/analysis/{{analy.class}}">
            <div class="box {{analy.class}}">
                <h1>{{analy.name}}</h1>
            </div>
        </a>
        {% endfor %}
        
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
